@import "tailwindcss";

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wave {

  0%,
  100% {
    transform: scaleY(0.4);
    opacity: 0.5;
  }

  50% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes load {
  0% {
    width: 0%;
  }

  60% {
    width: 72%;
  }

  85% {
    width: 90%;
  }

  100% {
    width: 100%;
  }
}